.form-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &__names {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;

        > div {
            display: flex;
            flex-direction: column;
            flex: 1;
        }
    }

    input,
    textarea {
        padding: 0.5rem;
        font-size: 1rem;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 100%;
    }

    .form-container__button {
        text-align: right;
    }

    .error {
        color: red;
        font-size: 0.875rem;
        margin-top: 0.25rem;
    }

    // Ensure all fields and error messages are stacked correctly
    .form-field-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
    }

    &__button {
        button {
            padding: 0.5rem;
            font-size: 1rem;
            border: 1px solid #ccc;
            border-radius: 4px;
        } 
    }
}
  