.models-container {
   display: flex;
   flex-direction: column;
   margin: 20px;
}

.models-container__title {
    text-align: center;
    min-height: 100px;
}

.models-container__model-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}